<div class = "menuAfterHome">
{{#if currentUser}}
<a class = "item" href="Home">Home</a>
<a class = "item" href="create-event">Create Event</a>
<a class = "item" href="LogOut">Logout</a>
{{else}}
<a class = "item" href="Login">Login</a>
<a class = "item" id = 'Register' href="signup">Sign Up</a>
{{/if}}
</div>

<body class="event-list">
  <div class = "eventsCentered">
<ul class = "settings-events">
  {{#each eventsFromDB}}
  <li>
    <h3><a href="/events/{{this.id}}">{{this.name}}</a></h3>
    <p>- created by {{this.owner.email}} </p>
    <img src="{{this.imageUrl}}" alt="" width="300">
    {{#if this.isOwner}}
    <form action="/events/{{this._id}}/delete" method="POST">
    <button type="submit" class = "deleteButton">Delete</button>
    </form>
    {{/if}}
  </li>
  {{/each}}
</ul>
</div>
</body>